<div class="grid  mb-5">
    <div class="col-5 flex flex-wrap gap-4 justify-content-start">
        <app-card class="col-5" style="padding: 0!important;" [data]="allOrder"></app-card>
        <app-card class="col-5" style="padding: 0!important;" [data]="todayOrder"></app-card>
        <app-card class="col-5" style="padding: 0!important;" [data]="delivredOrder"></app-card>
        <app-card class="col-5" style="padding: 0!important;" [data]="shippedOrder"></app-card>
    </div>
    <div class="col-7 card flex gap-3 justify-content-start">
        <ngx-charts-bar-vertical
                [view]="view"
                [results]="data"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [showGridLines]="false"
                [showDataLabel]="showDataLabel">
        </ngx-charts-bar-vertical>
    </div>
</div>

<div class="flex gap-3 justify-content-start">
    <p-button label="Order Summary" [severity]="getSeverity(0)" [raised]="true" size="small" (onClick)="chooseTabView(0)"></p-button>
    <p-button label="Order List" [severity]="getSeverity(1)" [raised]="true" size="small" (onClick)="chooseTabView(1)"></p-button>
</div>

@defer (when activeIndex() === 0) {
    <app-order-summary *ngIf="activeIndex() === 0"></app-order-summary>
}
@defer (when activeIndex() === 1) {
    <app-order-list *ngIf="activeIndex() === 1"></app-order-list>
}
